# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 

# Application Port - express server listens on this port (default 3000).
PORT=

# Database variables
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DB_HOST=
DB_PORT=
DIALECT=